@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration:none;
    border:none;
    outline:none;
    font-family:'Poppins', sans-serif;
}

html{
    font-size:62.5%;
}
body{
    width:100%;
    height:100vh;
    overflow-x:hidden;
    background-color:black;
    color:white;
}

/* Header */
header{
    margin-top:20px;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding:1rem 9%;
    background-color:transparent;
    filter:drop-shadow(10px);
    display:flex;
    justify-content:space-between;
    align-items:center;
    z-index:100;
}

.logo{
    font-size:3rem;
    color:#b74b4b;
    font-weight:800;
    cursor:pointer;
    transition:0.5s ease;
}
.logo:hover{
    transform:scale(1.1);
}

nav a{
    font-size:1.8rem;
    color:white;
    margin-left:4rem;
    font-weight:500;
    transition:0.3s ease;
    border-bottom:3px solid transparent;
}
nav a:hover,
nav a:active{
    color:#b74b4b;
    border-bottom:3px solid #b74b4b;
}

/* Home Section */
section{
    min-height:100vh;
    padding:5rem 9% 5rem;
}
.home{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:8rem;
    background-color:black;
}

.home-content h1{
    font-size:6rem;
    font-weight:700;
    line-height:1.3;
}
span{
    color:#b74b4b;
}
.home-content h3{
    font-size:4rem;
    margin-bottom:1rem;
    font-weight:700;
}
.home-content p{
    font-size:1.6rem;
    max-width:500px;
    line-height:1.6;
}

/* Image */
.home-img img{
    width:32vw;
    border-radius:50%;
    box-shadow:0 0 25px #b74b4b;
    transition:0.3s;
}
.home-img img:hover{
    transform:scale(1.03);
}

/* Social Icons */
.social-icons a{
    display:inline-flex;
    justify-content:center;
    align-items:center;
    width:4rem;
    height:4rem;
    background-color:transparent;
    border:0.2rem solid #b74b4b;
    font-size:2rem;
    border-radius:50%;
    margin:3rem 1.5rem 3rem;
    transition:0.3s ease;
    color:white;
}
.social-icons a:hover{
    transform:scale(1.3) translateY(-5px);
    background-color:#b74b4b;
    box-shadow:0 0 25px #b74b4b;
    color:black;
}

/* Button */
.btn{
    display:inline-block;
    padding:1rem 2.8rem;
    background-color:black;
    border-radius:4rem;
    font-size:1.6rem;
    color:#b74b4b;
    letter-spacing:0.3rem;
    font-weight:600;
    border:2px solid #b74b4b;
    transition:0.3s ease;
}
.btn:hover{
    transform:scale(1.03);
    background-color:#b74b4b;
    color:black;
    box-shadow:0 0 25px #b74b4b;
}

/* Typing Effect */
.typing-text{
    font-size:34px;
    font-weight:600;
    min-width:280px;
}
.typing-text span{
    position:relative;
}
.typing-text span::before{
    content:"Web Developer";
    color:#b74b4b;
    animation:words 20s infinite;
}
.typing-text span::after{
    content:"";
    background:black;
    position:absolute;
    width:calc(100% + 8px);
    height:100%;
    border-left:3px solid black;
    animation:cursor 0.6s infinite;
}

@keyframes cursor{
    to{
        border-left:3px solid #b74b4b;
    }
}
@keyframes words{
    0%,20%   {content:"Web Developer";}
    21%,40%  {content:"Software Developer";}
    41%,60%  {content:"Web Designer";}
    61%,80%  {content:"Facebook Manager";}
    81%,100% {content:"Script Writer";}
}

/* Responsive */
@media(max-width:1000px){
    .home{gap:4rem;}
}
@media(max-width:995px){
    .home{
        flex-direction:column;
        margin:5rem 4rem;
    }
    .home-content h3{font-size:2.5rem;}
    .home-content h1{font-size:5rem;}
    .home-img img{
        width:70vw;
        margin-top:4rem;
    }
}
